<!-- extend base layout -->
{% extends "backend/base.html" %}

{% block content %}
	<h1>Settings</h1>
	{% include "backend/flash.html" %}
	<form method="post" action="" name="add">
	    {{ settings.hidden_tag() }}
	    <div class="row form-group">
		    <div class="col-md-4">
		    		{{ settings.currency.label }} {{ settings.currency() }}
		    		{% for error in settings.currency.errors %}
		    			<small class="error">{{ error }}</small>
	                {% endfor %}
		    </div>
		    <div class="col-md-4">
		    		{{ settings.file_repo.label }} {{ settings.file_repo() }}
		    		{% for error in settings.file_repo.errors %}
		    			<small class="error">{{ error }}</small>
	                {% endfor %}
		    </div>
		    <div class="col-md-4">
		    		{{ settings.nb_of_stores.label }} {{ settings.nb_of_stores() }}
		    		{% for error in settings.nb_of_stores.errors %}
		    			<small class="error">{{ error }}</small>
	                {% endfor %}
		    </div>
		</div>
		<div class="row form-group">
			<div class="col-md-2">
		    	<button type="submit" value="Add">Add</button>
		    </div>
		</div>
	</form>
	{% for config_unit in config_units %}
		{{ config_unit.data }}
	{% endfor %}
	<h4>VAT</h4>
	<table>
		{% for vat_item in vat_items %}
			<tr>
				<td>{{ vat_item.name }}</td>
				<td>{{ vat_item.amount }} %</td>
				<td>
					<a href="{{ url_for('settings.vat_delete', id=vat_item.id) }}" class="radius button tiny">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	
	<form method="post" action="" name="add">
	    {{ add_vat.hidden_tag() }}
	    <div class="row form-group">
		    <div class="col-md-4">
		    		{{ add_vat.name.label }} {{ add_vat.name() }}
		    		{% for error in add_vat.name.errors %}
		    			<small class="error">{{ error }}</small>
	                {% endfor %}
		    </div>
		    <div class="col-md-2">
		    		{{ add_vat.amount.label }} {{ add_vat.amount() }}
		    		{% for error in add_vat.amount.errors %}
		    			<small class="error">{{ error }}</small>
	                {% endfor %}
		    </div>
		    <div class="col-md-2">
		    	<button type="submit" value="Add">Add</button>
		    </div>
		</div>
	</form>
{% endblock %}