<!-- extend base layout -->
{% extends "backend/base.html" %}

{% block content %}
	<h1>Edit {{ form.name.data }}</h1>
	{% include "backend/flash.html" %}
	<form method="post" action="" name="add">
	    {{ form.hidden_tag() }}
	    <div class="row form-group">
	    	<div class="col-md-10">
	    		{{ form.name.label }} {{ form.name(size=100) }}
	    		{% for error in form.name.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>

	    <div class="row form-group">
	    	<div class="col-md-12">
	    		{{ form.address.label }} {{ form.address(size=50) }}
	    		{% for error in form.address.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <div class="row form-group">
	    	<div class="col-md-4">
	    		{{ form.zip_code.label }} {{ form.zip_code(size=15) }}
	    		{% for error in form.zip_code.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-8">
	    		{{ form.city.label }} {{ form.city(size=15) }}
	    		{% for error in form.city.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <div class="row form-group">
	    	<div class="col-md-4">
	    		{{ form.country.label }} {{ form.country(size=50) }}
	    		{% for error in form.country.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <div class="row form-group">
	    	<div class="col-md-4">
	    		{{ form.phone.label }} {{ form.phone(size=50) }}
	    		{% for error in form.phone.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-8">
	    		{{ form.email.label }} {{ form.email(size=50) }}
	    		{% for error in form.email.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <button type="submit" class="btn btn-primary" value="Save">Save</button>
	</form>



{% endblock %}