<!-- extend base layout -->
{% extends "backend/base.html" %}

{% block content %}
<div class="small-12 columns">
	<h1>Suppliers</h1>
	<a href="{{ url_for('suppliers.suppliers_add') }}" class="radius button">Add</a>
	{% include "backend/flash.html" %}

	
	<table>
	{% for supplier in suppliers %}
		<tr>
			<td>{{ supplier.id }}</td>
			<td><a href="{{ url_for('suppliers.suppliers_view', id=supplier.id) }}">{{ supplier.name }}</a></td>
			<td><a href="{{ url_for('suppliers.suppliers_edit', id=supplier.id) }}" class="radius button">Edit</a>
			<td><a href="{{ url_for('suppliers.suppliers_delete', id=supplier.id) }}" class="radius button">Delete</a>
		</tr>
	{% endfor %}
	</table>
{% endblock %}

{% block script %}
{% endblock %}