<!-- extend base layout -->
{% extends "backend/base.html" %}

{% block content %}

	<h1>{{ supplier.name }} ({{ supplier.id }})</h1>
	{% include "backend/flash.html" %}
<div class="row">
	<div class="col-md-4">
		<p>Address:</p>
		<p>{{ supplier.address }}<br>
		{{ supplier.zip_code }} {{ supplier.city }}<br>
		{{ supplier.country }}</p>
	</div>
</div>
		<p>Phone: {{ supplier.phone }}</p>
		<p>Email: {{ supplier.email }}</p>
		
		<table>
			{% for product in supplier.products %}
			<tr>
				<td>{{ product.reference }}</td>
				<td><a href="{{ url_for('products.product_view', id=product.id) }}">{{ product.name }}</a></td>
			</tr>
			{% endfor %}
		</table>
		
		



		<a href="{{ url_for('suppliers.suppliers_edit', id=supplier.id) }}" class="btn btn-primary" >Edit</a>


{% endblock %}

{% block script %}
{% endblock %}