{% extends "backend/base.html" %}

{% block content %}
	{% if action == 'add' %}
	<h1>Add a product</h1>
	{% elif action == 'edit' %}
	<h1>Edit "{{ form.name.data }}"</h1>
	{% endif %}
	{% include "backend/flash.html" %}
	<form method="post" action="" name="add">
	    {{ form.hidden_tag() }}
	    <div class="row form-group">
	    	<div class="col-md-6">
	    		{{ form.name.label }} {{ form.name(class_="form-control") }}
	    		{% for error in form.name.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>

	    <div class="row form-group">
	    	<div class="col-md-6">
	    		{{ form.description.label }} {{ form.description(cols="35", rows="5", class_="form-control") }}
	    		{% for error in form.description.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <div class="row form-group">
	    	<div class="col-md-2">
	    		{{ form.reference.label }} {{ form.reference(size=15, class_="form-control") }}
	    		{% for error in form.reference.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-2">
	    		{{ form.supplier_reference.label }} {{ form.supplier_reference(size=15, class_="form-control") }}
	    		{% for error in form.supplier_reference.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-2">
	    		{{ form.ean.label }} {{ form.ean(size=13, class_="form-control") }}
	    		{% for error in form.ean.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>

	    <div class="row form-group">
	    	<div class="col-md-1">
	    		{{ form.buying_price.label }} {{ form.buying_price(size=6, class_="form-control") }}
	    		{% for error in form.buying_price.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-1">
	    		<label for="margin">Margin</label> <input class="form-control" id="margin" name="margin" size="4" type="text">
	    	</div>
	    	<div class="col-md-1">
	    		{{ form.selling_price_no_tax.label }} {{ form.selling_price_no_tax(class_="form-control") }}
	    		{% for error in form.selling_price_no_tax.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-2">
	    		{{ form.vat.label }} {{ form.vat(class_="form-control") }}
	    		{% for error in form.vat.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    	<div class="col-md-1">
	    		<label for="price">Price</label> <input class="form-control" id="price" name="price" size="6" type="text">
	    	</div>
	    </div>

	    <div class="row form-group">
	    	<div class="col-md-1">
	    		{{ form.stock.label }} {{ form.stock(size=6, class_="form-control") }}
	    		{% for error in form.stock.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
	    	</div>
	    </div>
	    
	    <div class="row form-group">
	    	<div class="col-md-2">
	    		
	    		{{ form.suppliers.label }} {{ form.suppliers(class_="form-control") }}
	    		{% for error in form.suppliers.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
                
	    	</div>
	    	<div class="col-md-2">
	    		
	    		{{ form.categories.label }} {{ form.categories(class_="form-control") }}
	    		{% for error in form.categories.errors %}
	    			<small class="error">{{ error }}</small>
                {% endfor %}
                
	    	</div>
	    </div>
	    
	    {% if action == 'add' %}
		<button type="submit" class="btn btn-primary" value="Add">Add</button>
		{% elif action == 'edit' %}
		<button type="submit" class="btn btn-primary" value="Save">Save</button>
		{% endif %}
	</form>

{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		// Initialize
		var margin = (($('#selling_price_no_tax').val() - $('#buying_price').val()) / $('#buying_price').val()) * 100
        $('#margin').val(margin.toFixed(2));
        var price = $('#selling_price_no_tax').val() * 1.2
        $('#price').val(price.toFixed(2));
        // Compute Margin from Selling Price
	    $('#selling_price_no_tax').keyup(function(){
	    	var margin = (($('#selling_price_no_tax').val() - $('#buying_price').val()) / $('#buying_price').val()) * 100
	        $('#margin').val(margin.toFixed(2));
	        var price = $('#selling_price_no_tax').val() * 1.2
	        $('#price').val(price.toFixed(2));
	    });
	    // Compute Selling Price from Margin
	    $('#margin').keyup(function(){
	    	var selling_price = $('#buying_price').val() * (($('#margin').val() / 100) + 1)
	        $('#selling_price_no_tax').val(selling_price.toFixed(2));
	        var price = $('#selling_price_no_tax').val() * 1.2
	        $('#price').val(price.toFixed(2));
	    });
	    // Compute Selling Price from Buying Price, Margin being unchanged
	    $('#buying_price').keyup(function(){
	    	var selling_price = $('#buying_price').val() * (($('#margin').val() / 100) + 1)
	        $('#selling_price_no_tax').val(selling_price.toFixed(2));
	        var price = $('#selling_price_no_tax').val() * 1.2
	        $('#price').val(price.toFixed(2));
	    });
	    // Compute Selling Price after VAT
	});
</script>
{% endblock %}