<!-- extend base layout -->
{% extends "backend/base.html" %}

{% block content %}
	<h1>{{ product.name }}</h1>
	{% include "backend/flash.html" %}
<div class="row">
	<div class="col-md-12">
		<strong>Description:</strong>
		<p>{{ product.description }}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<p><strong>Reference: </strong><br>{{ product.reference }}</p>
		<p><strong>Supplier Reference: </strong><br>{{ product.supplier_reference }}</p>
		<p><strong>EAN: </strong><br>{{ product.ean }}</p>
	</div>
	<div class="col-md-4">
		<p><strong>Buying Price: </strong><br>{{ product.buying_price }} Euros</p>
		<p><strong>Category: </strong><br>{{ product.category.name }}</p>
	</div>
</div>

		<p>Suppplier(s):</p>
		<ul>
			{% for supplier in product.supplier %}
			<li><a href="{{ url_for('suppliers.suppliers_view', id=supplier.id) }}">{{ supplier.name }}</a></li>
			{% endfor %}
		</ul>

		<a href="{{ url_for('products.product_edit', id=product.id) }}" class="radius button" >Edit</a>


		<p>Stock History :</p>
		<ul>
			{% for stock in product.stock_history %}
			<li>{{ stock.date_created }}: {{ stock.amount }}</a></li>
			{% endfor %}
		</ul>
			


{% endblock %}

{% block script %}
{% endblock %}